* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: white;
  height: 100px;
  display: flex;
  align-content: center;
}

.header__logo {
  margin: auto 100px;
  font-size: 6rem;
  font-weight: bold;
  color: #00afc1;
}

.container {
  background-image: url(./src/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
}

.container__card {
  background-color: #ffffff59;
  border-radius: 25px;
  width: 75%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  padding: 100px;
}

.card__title {
  font-size: 1.6rem;
  text-align: center;
}

.card__box {
  height: 350px;
  width: 350px;
  align-self: center;
  background-color: #00afc1;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}

.card__text {
  font-size: 1.4rem;
  color: #747474;
  font-weight: lighter;
}

.container__button {
  display: flex;
}

.button__area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__button {
  width: 75%;
  padding: 10px;
  height: 50px;
  color: white;
  background-image: linear-gradient(to right, #5619fc 0%, #00afc1 100%);
  font-size: 2.1rem;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 50px;
}

.card__button:hover {
  background-color: #00afc1;
  cursor: pointer;
}

.card__button-easeInOutSine {
  animation: lefToRight 3s cubic-bezier(0.61, 1, 0.88, 1);
}

.card__button-easeInQuart {
  animation: rightToLeft 3s cubic-bezier(0.5, 0, 0.75, 0);
}

.card__button-easeInOutCubic {
  animation: lefToRight 3s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes lefToRight {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

@keyframes rightToLeft {
  from {
    right: 0px;
  }

  to {
    right: 300px;
  }
}
